<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Frango</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="titulo">
            <h1>Sistema de Gerenciamento de Vendas</h1>
        </div>
        <div class="navBar">
            <h2 class="navItem">Reservas</h2>
            <h2 class="navItem">Fechamento de contas</h2>
            <h2 class="navItem">Balanço</h2>
        </div>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>